@{
	ViewData["Title"] = "Dashboard";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>

@section Scripts {
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/dashboard.js"></script>
}